{% extends 'base.html.twig' %} {% block title %}Hello TweetController!{%
endblock %} {% block body %}

<div class="container">
	<h1>Tous les derniers Tweets</h1>
	{{ form(form) }}

	{% for tweet in tweets|sort((a,b) => b.createdAt <=> a.createdAt) %}

	<a href={{ path('user', {username: tweet.author}) }}>{{ tweet.author }}</a>
	<p>{{ tweet.content }}</p>
	<p>{{ tweet.createdAt | ago(locale='fr') }}</p>

	{% endfor %}
</div>

{% endblock %}
