
{% block tweetList %}
  <h1>dzadazdza</h1>
  {% for tweet in tweets|sort((a,b) => b.createdAt <=> a.createdAt) %}
      <div class="card-tweet">
          <a href={{ path('user', {username: tweet.author}) }}>{{ tweet.author }}</a>
          <p>{{ tweet.content }}</p>
          <div>
              <p class="tweet-time">{{ tweet.createdAt | ago(locale='fr') }}</p>
              
              {% set isRetweet = false %}
              {% set retweet_id = null %}
              {% for retweet in app.user.retweets %}
                  {% if tweet.id == retweet.tweet.id %}
                      {% set retweet_id = retweet.id %}
                      {% set isRetweet = true %}
                  {% endif %}
              {% endfor %}
              {# {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %} #}
              {% if isRetweet %}
                  <a href={{ path('retweet_remove', {retweet_id: retweet_id}) }}>unRetweet</a>
              {% else %}
                  <a href={{ path('retweet', {tweet_id: tweet.id}) }}>Retweet</a>
              {% endif %}

              <a href={{ path('retweeters', {tweet_id: tweet.id}) }}>{{ tweet.retweets | length }}</a>
          </div>
      </div>
    {% endfor %}
  {% endblock %}