{% extends 'logged.html.twig' %} {% block title %}Hello UserController!{% endblock
%} {% block container %}

<h1>{{ user.username }}</h1>
<a href={{ path('user_followers', {username: user.username}) }}>Followers :{{ user.followers | length }}</a>
<a href={{ path('user_follows', {username: user.username}) }}>Follows :{{ user.follow | length }}</a>

{{ form(followForm) }}

  {% include "tweet/tweet.html.twig" %}

{% endblock %}
