{% extends 'logged.html.twig' %} {% block title %}Hello UserController!{% endblock
%} {% block container %}

<div class="flex center-y">
  <h1 style="margin-right: 20px">{{ user.username }}</h1>
  <div class="follow">
  {{ form(followForm) }}
  </div>
</div>
<div class="flex">
  <a class="btn" style="margin-right: 20px" href={{ path('user_followers', {username: user.username}) }}>Followers : {{ user.followers | length }}</a>
  <a class="btn" href={{ path('user_follows', {username: user.username}) }}>Follows : {{ user.follow | length }}</a>
</div>


  {% include "tweet/tweet.html.twig" %}

{% endblock %}
